.footer {
}
.iframe {
    width: 90vw;
    height: 90vh;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    transition: .5s ease-in-out;
    transform: translateY(-100%);
    transform: scale(0);
    z-index: 9999999999999999999;
}

.form {
    max-width: 90vw;
    max-height: 85vh;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
    border-radius: 1rem;
}
.closePopup {
    position: absolute;
    left: 100%;
    bottom: 95%;
    display: block;
    width: 50px;
    height: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
    /* top: .4rem; */
    background: none;
    outline: none;
    color: #f1f1f1 ;
    padding: 1rem;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}
.closePopup:hover {
    background: rgba(0, 0, 0, 0.6);
    color: #fff ;
}

.form-popup {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    box-shadow: rgba(0,0,0,0.4) 0px 5px 15px;
    border-radius: 1rem;
    width: 90vw;
    height: 85vh;
}

.container.active  {
    transform: scale(1);
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    top: 0;
}