:root {
    --main-color: #ffffff;
    --second-color: #ffffff;

    --main-bg: #ffffff;
    --second-bg: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #fff;
    flex-direction: column;
    display: flex;

}

main {
    flex-grow: 1;
    background-color: green;
    display: flex;
}

.content {
    flex-grow: 1;
    background-color: yellow;
    display: flex;
}