.timeline {
    background-color: transparent;
    width: 80px;
    flex-shrink: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.1175420168067223) 0%, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%)
}

.timeline__inner {
    height: 90%;
    /* width: 2px; */
    /* background-color: #fff; */
}

.tl__lines {
    --line-w: 3px;
    --bg: rgba(255,255,255,0.5);
    height: 100%;
    width: var(--line-w);
    background-color: var(--bg);
    position: relative;
}

.tl__line {
    --bg: rgba(251, 242, 242, 0.8);
    --w: 12px;
    /* position: absolute; */
    background-color: var(--bg);
    width: var(--w);
    height: var(--w);
    border-radius: 50%;

    position: absolute;
    left: calc((var(--line-w) - var(--w)) / 2);
    /* transform: translateX(-50%); */
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    text-align: center;
    line-height: var(--w);
    /* transform-origin: center center; */
    color: var(--bg);
    font-size: 0.875rem;
    cursor: pointer;
}

.tl__line:hover, .tl__line.active {
    --w: 24px;
    color: #000000;
    transform: translateY(-25%);
    font-weight: 600;
    /* transform: scale(1.01); */
}